#
# MobiCore configuration
#
config TRUSTONIC_TRUSTED_UI
    tristate "<t-base TUI"
    default y
    ---help---
      Enable <t-base Trusted User Interface

config TRUSTONIC_TRUSTED_UI_FB_BLANK
    bool "<t-base TUI with fb_blank"
    depends on TRUSTONIC_TRUSTED_UI
    default y
    ---help---
    Blank the framebuffer before starting a TUI session
